/*
font-family: 'Poiret One', cursive;
font-family: 'Roboto Condensed', sans-serif;
*/

/* -------------------------------- 
Primary style
-------------------------------- */

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-size: 1.5em;
    font-family: 'Poiret One', cursive;
    color: #4e4e4e;
    background-color: rgba(217, 217, 217, 0.81);
    
}

a{
   color: rgba(131, 216, 0, 0.75);
}
a:hover{
    color: dodgerblue;
}

img{
    max-width: 100%;
}

/*
-------------------------------- 
Patterns - reusable parts of our design
--------------------------------
*/


.hero-btn {
    display: inline-block;
    padding: 1.0em 3em;
    border-radius: 2em;
    background-color: #00959b;
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.imageReplace {
    color: transparent;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

/*
-------------------------------- 
Hero page
--------------------------------
*/

.hero {
    position: relative;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background-image: url(../img/hero%20background.jpg) ;
    display: table;
}

.hero:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;

/*
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
*/
    
    top: 95%;
    height: 28px;
    width: 28px;
    background: url(../img/Nav/cd-arrow-back.svg) no-repeat center center;
    opacity: 0;
/*
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
*/
}

.hero .wrapper{
    display: table-cell;
    vertical-align:middle;
    text-align: center;
}

.hero h1{
    width: 90%;
    margin: 0 auto .6em ;
    font-size: 4.4rem;
    color: #4e4e4e;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


}
.hero .projects-visible {
  /* translate the .cd-intro-block element to reveal the projects slider */
  -webkit-transform: translateY(-90%);
  -moz-transform: translateY(-90%);
  -ms-transform: translateY(-90%);
  -o-transform: translateY(-90%);
  transform: translateY(-90%);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.hero .projects-visible:after {
  /* show arrow icon */
  opacity: 1;
}
@media only screen and (min-width: 900px) {
  .cd-intro-block::after {
    top: 97.5%;
  }
  .cd-intro-block h1 {
    font-size: 4.4rem;
    font-weight: 300;
  }
  .hero .projects-visible {
    -webkit-transform: translateY(-95%);
    -moz-transform: translateY(-95%);
    -ms-transform: translateY(-95%);
    -o-transform: translateY(-95%);
    transform: translateY(-95%);
  }
}